<div>
    <div class="container">
        <form class="form-box">
            <h2>Calculadora</h2>
            <label for="numero1">Número 1</label>
            <input type="number" name="numero1" id="numero1">

            <label for="numero2">Número 2</label>
            <input type="number" name="numero2" id="numero2">

            <button type="button" (click)="calcularResultado()">Somar</button>

            <div class="result-display">
            <p>Resultado <span id="result">{{ resultado }}</span></p>
        </div>
        </form>
    </div>
</div>