Header: <span [class.minha-cor]="aplicarClasse">{{tituloHeader}}</span>

<h3 [style.color]="estiloCor">Meu elemento html</h3>

<h1 [innerText]="tituloHeader"></h1>

<!--<input [value]="valorInput"> -->
<input [(ngModel)]="valorInput">
<br><br>

<button (click)="atualizarTitulo()">Atualizar</button>


@if (tipoUsuario === 'feliz'){
    <p>😜</p>
} @else {
    <p>🙋🏻‍♂️</p>
}

@switch (tipoUsuario){
    @case ('feliz'){
        <p>😜</p>
    }
    @default {
        <p>🙋🏻‍♂️</p>
    }
}


@for(usuario of usuarios; track usuario.id){
    Nome: <p [style.color]="usuario.id === 1 ? 'red' : '' ">{{usuario.nome}}</p>
}

<h1>Header: {{titulo}}</h1>

<button (click)="emitirValor()">Enviar valor</button>